[submodule "toolchain/esp-idf"]
	path = toolchain/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "toolchain/micropython"]
	path = toolchain/micropython
	url = https://github.com/micropython/micropython.git
[submodule "src/sensirion-arduino-sps"]
	path = src/sensirion-arduino-sps
	url = https://github.com/Sensirion/arduino-sps.git
